<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link href="/main.css" rel="stylesheet">
</head>
<body class="grey-bg">
    <%- include('nav.ejs') %>
    
    <div class="white-bg" style="width: 50%; padding: 20px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
        <form class="input-group mb-3" action="register" method="post" style="display: flex; flex-direction: column;">
            <div style="display: flex; align-items: center; margin-bottom: 10px;">
                <input name="username" type="text" class="form-control" placeholder="Username" aria-label="Username">
                <!-- <span class="input-group-text">@</span>
                <input type="text" class="form-control" placeholder="Server" aria-label="Server"> -->
            </div>
            <input name="password" type="password" class="form-control" placeholder="Password" aria-label="Password" style="margin-bottom: 10px; width : 45%;">
            <input name="password2" type="password" class="form-control" placeholder="Verify Password" aria-label="Password" style="margin-bottom: 10px; width : 45%;"> 
            <button type="submit" class="btn btn-warning" style="margin-top: 10px; width: fit-content;">회원가입</button>
        </form>
    </div>
    
    


</body>
</html>